name: Backend Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  unit-test:
    name: Units Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.11 with pip cache
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'backend/requirements.txt'

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install UV with pip
        run: pip install uv

      - name: Install dependencies with UV
        run: |
          cd backend
          uv sync

      - name: Run backend tests
        run: |
          cd backend
          uv run pytest -v -m "not e2e"

    e2e-test:
      name: End-to-End Tests
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/main'
      needs: unit-test
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup Python 3.11 with pip cache
          uses: actions/setup-python@v6
          with:
            python-version: '3.11'
            cache: 'pip'
            cache-dependency-path: 'backend/requirements.txt'

        - name: Upgrade pip
          run: python -m pip install --upgrade pip

        - name: Install UV with pip
          run: pip install uv

        - name: Install dependencies with UV
          run: |
            cd backend
            uv sync

        - name: Run end-to-end tests
          run: |
            cd backend
            uv run pytest -v -m "e2e"